streamlit
pandas
numpy
plotly
requests
requests-cache
retry-requests
openmeteo-requests
streamlit-folium
geemap
git+https://github.com/arthurhenry/gpm-api.git
earthengine-api
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-aiplatform==1.43.0
setuptools>=68.0


